In [12]:
import numpy as np
import pandas as pd
import os

with open('data.txt', 'r') as data:
  plaintext = data.read()

plaintext = plaintext.replace(',', '')

FileNotFoundError: [Errno 2] No such file or directory: 'data.txt'

In [11]:
df

   Year         Finland    Sweden    Norway    Denmark     Netherlands
0   1970          51.3       67.7      56.8      6...
1   1980          69.4       78.0      58.3      7...
2   1990          72.5       80.8      58.5      7...
3   1991          75.4       80.6      58.1      7...
4   1992          78.4       83.3      58.1      7...
5   1993          80.7       83.9      58.0      7...
6   1994          80.3       83.8      57.8      7...
7   1995          80.4       83.1      57.3      7...
8   1996          80.4       82.7      56.3      7...
9   1997          79.5       82.2      55.5      7...
10  1998          78.0       81.3      55.5      7...
11  1999          76.3       80.6      54.5      7...
12  2000          75.0       79.1      53.7      7...
13  2001          74.5       78,0      52.8      7...
14  2002          74.8       78.0      53.0       ...
15  2003          74.1       78.0      53.3      7...